*{
	margin:0;
	padding:0;
}

body{
	font-size:13px;
	color:#eee;
	font-family:Arial, Helvetica, sans-serif;
	 /*background:url('../images/bg.jpg') repeat-x #718693;*/
}

#page{
	/* The main container div */
	width:620px;
	margin:100px auto 0;
}

#message{
		/* The search form. 
	background-color:#4C5A65; */
	padding:50px 50px 30px;
	margin:80px 0;
	position:center;
    background: rgba(0,0,0,.3);
	-moz-border-radius:16px;
	-webkit-border-radius:16px;
	border-radius:16px;
	position:absolute;	
	
}


#searchForm{
	/* The search form. 
	background-color:#4C5A65; */
	padding:50px 50px 30px;
	margin:80px 0;
	position:center;
    background: rgba(0,0,0,.3);
	-moz-border-radius:16px;
	-webkit-border-radius:16px;
	border-radius:16px;
}

fieldset{
	border:none;
}

#searchInputContainer{
	/* This div contains the transparent search box */
	width:420px;
	height:30px;
	background:url("../images/searchBox.png") no-repeat;
	float:left;
	margin-right:12px;
}

#id{
	/* The search text box.
	and also id for search box is 'id'
	 */
	
	border:none;
	color:#888888;
	background:url("../images/searchBox.png") no-repeat;
	
	float:left;
	font-family:Arial,Helvetica,sans-serif;
	font-size:15px;
	height:36px;
	line-height:36px;
	margin-right:12px;
	outline:medium none;
	padding:0 0 0 35px;
	text-shadow:1px 1px 0 white;
	width:385px;
}


/* The submit button */


#submitButton{
	background:#00F url("../images/buttons.png") no-repeat;
	width:83px;
	height:36px;
	text-indent:-9999px;
	overflow:hidden;
	text-transform:uppercase;
	border:none;
	cursor:pointer;
}

#submitButton:hover{
	background-position:left bottom;
}

#searchInContainer{
	float:left;
	margin-top:9px;
	width:330px;
}

label{
	color:#DDDDDD;
	cursor:pointer;
	font-size:11px;
	position:relative;
	right:-2px;
	top:-2px;
	margin-right:10px;
	white-space:nowrap;
	/*float:left;*/
}

input[type=radio]{
	cursor:pointer;
	/*float:left;*/
}


/* Styling the search results */


.pageContainer{
	/* Holds each page with search results. Has an inset bottom border. */
	border-bottom:1px solid #5e7481;
	margin-bottom:50px;
	
	/* Adding a dark bottom border with box shadow */
	
	-moz-box-shadow:0 1px 0 #798e9c;
	-webkit-box-shadow:0 1px 0 #798e9c;
	box-shadow:0 1px 0 #798e9c;
}


p.notFound{
	text-align:center;
	padding:0 0 40px;
}


.clear{
	clear:both;
}